// Variables
@import "less/variables.less";

.input {
    border-radius: 0px;
    border: 2px solid fade(#000, 20%);
    height: 40px;
    margin-bottom: 0px;
    transition: border-color 250ms ease;
        -webkit-transition: border-color 250ms ease;
    width: 100%;

    @media @mq-mobile {
        max-width: 100%;
    }

    &:focus {
        border-color: @blue;
    }
}

// Eyebrow Nav
@import "less/eyebrow.less";

// Header + Main Nav
@import "less/nav.less";

// Footer
@import "less/footer.less";