.header {
  background-color: white;
  height: 70px;
  padding: 0px 15px 0 30px;
  text-align: right;
  z-index: 100;
}
@media only screen and (max-width: 991px) {
  .header {
    height: auto;
    padding: 0px 0px 0px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    height: 60px;
    text-align: left;
  }
}
.eyebrow-nav {
  background-color: #412447;
  height: 30px;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .eyebrow-nav {
    height: 40px;
    overflow: visible;
    padding: 0;
  }
}
.eyebrow-nav-dropdown {
  float: left;
}
.eyebrow-nav-dropdown:hover .eyebrow-nav-link,
.eyebrow-nav-dropdown:hover .eyebrow-nav-link.dropdown.select-medication {
  background-color: #79288c;
  color: #fff;
}
.eyebrow-nav-dropdown:hover .eyebrow-dropdown-menu {
  display: block;
}
.eyebrow-nav-link-wrap {
  float: right;
}
@media only screen and (max-width: 991px) {
  .eyebrow-nav-link-wrap {
    float: none;
  }
}
.eyebrow-nav-link {
  border-left: 1px solid #111;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  float: left;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  height: 30px;
  line-height: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms ease;
}
@media only screen and (max-width: 991px) {
  .eyebrow-nav-link {
    border-left: none;
    border-right: 1px solid #111;
  }
}
@media only screen and (max-width: 767px) {
  .eyebrow-nav-link {
    height: 40px;
    padding-top: 6px;
  }
}
@media only screen and (max-width: 479px) {
  .eyebrow-nav-link {
    border-left: none;
  }
}
.eyebrow-nav-link:hover {
  color: #fff;
}
.eyebrow-nav-link.dropdown {
  padding-right: 23px;
  float: none;
}
.eyebrow-nav-link.dropdown.select-medication {
  background-color: rgba(121, 40, 140, 0.5);
  border-left-style: none;
}
.eyebrow-nav-link .eyebrow-nav-dropdown-icon {
  margin-right: 10px;
}
.eyebrow-dropdown-menu {
  background-color: #79288c;
  position: absolute;
  z-index: 999;
}
.eyebrow-dropdown-link {
  -webkit-transition: background-color 250ms ease;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(65, 36, 71, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-family: Oswald, sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 15px;
  transition: background-color 250ms ease;
}
.eyebrow-dropdown-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.home-header {
  position: absolute;
  height: 70px;
  left: 0px;
  padding: 0 30px;
  top: 0px;
  width: 100%;
  z-index: 3;
}
@media only screen and (max-width: 767px) {
  .home-header {
    padding: 12px 15px 0;
  }
}
.ps-logo {
  display: block;
  float: left;
  max-width: 210px;
  padding-top: 23px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .ps-logo {
    float: none;
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .ps-logo {
    display: block;
    padding: 0;
    position: absolute;
    top: 54%;
    transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
  }
}
@media only screen and (max-width: 991px) {
  .ps-logo.gateway {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .ps-logo.gateway {
    padding-top: 6px;
    position: relative;
  }
}
.mobile-hack {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .mobile-hack {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .mobile-hack {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .mobile-hack:hover .menu-button {
    background-color: #197d9e;
  }
  .mobile-hack:hover .nav-menu {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .menu-button {
    background-color: #24a7d1;
    color: rgba(255, 255, 255, 0.8);
    float: none;
    font-family: Oswald, sans-serif;
    font-size: 12px;
    height: 60px;
    line-height: 15px;
    padding: 9px 0px 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .menu-button .menu-button-icon {
    font-size: 42px;
    line-height: 26px;
  }
}
.nav-menu {
  position: relative;
  display: inline-block;
  float: none;
}
@media only screen and (max-width: 991px) {
  .nav-menu {
    display: block;
    height: 60px;
    overflow: visible;
    text-align: left;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }
}
@media only screen and (max-width: 767px) {
  .nav-menu {
    background-color: #197d9e;
    height: auto;
  }
}
.home-utility-links {
  position: absolute;
  right: 30px;
  top: 0px;
}
@media only screen and (max-width: 767px) {
  .home-utility-links {
    right: 15px;
  }
}
.dropdown-wrap:hover .nav-link,
.dropdown-wrap:hover .nav-link:hover {
  background-color: #24a7d1;
  color: white;
}
@media only screen and (max-width: 767px) {
  .dropdown-wrap:hover .nav-link,
  .dropdown-wrap:hover .nav-link:hover {
    background-color: #197d9e;
  }
}
.dropdown-wrap:hover .sub-nav-link-wrap {
  display: block;
}
@media only screen and (max-width: 767px) {
  .dropdown-wrap:hover .sub-nav-link-wrap {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.sub-nav-link-wrap {
  position: absolute;
  background-color: #24a7d1;
  left: 0%;
  padding-bottom: 0px;
  padding-top: 0px;
  top: 100%;
  width: 200px;
}
.sub-nav-link-wrap.search {
  left: auto;
  padding: 8px;
  right: 0px;
}
.sub-nav-link {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
}
.sub-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.nav-link {
  background-color: transparent;
  color: #333;
  display: block;
  float: left;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 70px;
  line-height: 18px;
  padding: 15px 15px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
}
@media only screen and (max-width: 991px) {
  .nav-link {
    height: 60px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-link {
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
    float: none;
    font-size: 1em;
    line-height: 26px;
    margin-right: 0px;
    padding: 12px 15px;
    text-align: left;
  }
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
}
.nav-link.white {
  color: #fff;
}
.nav-link.blue {
  color: #24a7d1;
}
@media only screen and (max-width: 767px) {
  .nav-link.blue {
    color: #fff;
  }
}
.nav-link.fa-icon {
  font-family: 'Font Awesome Icons', sans-serif;
}
.nav-link.single-line {
  line-height: 70px;
  padding-top: 0px;
}
@media only screen and (max-width: 991px) {
  .nav-link.single-line {
    line-height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-link.single-line {
    height: auto;
    line-height: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}
.nav-link.dropdown {
  background-color: transparent;
  float: none;
  margin-left: 0;
}
.nav-link.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.nav-link.dropdown .dropdown-icon {
  left: 50%;
  bottom: 6px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-top: 0px;
  opacity: 0.4;
  right: auto;
  top: auto;
  width: 20px;
}
@media only screen and (max-width: 991px) {
  .nav-link.dropdown .dropdown-icon {
    bottom: 3px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-link.dropdown .dropdown-icon {
    bottom: auto;
    left: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -6px;
    right: 10px;
    text-align: center;
    top: 50%;
  }
}
.utility-24-hr {
  color: white;
  display: block;
  float: left;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  height: 70px;
  line-height: 70px;
  margin-left: 15px;
  padding-left: 30px;
  position: relative;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .utility-24-hr {
    height: 60px;
    line-height: 60px;
    margin-left: 5px;
  }
}
.utility-24-hr .icon.utility-headset {
  color: #24a7d1;
  display: inline-block;
  font-size: 22px;
  left: 0px;
  line-height: 22px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  text-shadow: none;
  text-transform: none;
  top: 50%;
  transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
}
