// Variables
@import "less/variables.less";

.input {
    border-radius: 0px;
    border: 2px solid fade(#000, 20%);
    height: 40px;
    margin-bottom: 0px;
    transition: border-color 250ms ease;
        -webkit-transition: border-color 250ms ease;
    width: 100%;

    @media @mq-mobile {
        max-width: 100%;
    }

    &:focus {
        border-color: @blue;
    }
}

.page-section {

    &#24-hour-panel,
    &#24-hour-panel-hcp {
        border-bottom: none;
        padding: 4vh 0 1vh;

        @media @mq-tablet {
            padding: 40px 0;
        }

        @media @mq-mobile {
            padding: 20px 0;
        }

        .row {
            overflow: visible;
        }

        a {
            color: @blue;
        }

        .tooltip-underscore {
            color: @blue;
            border-bottom: 1px dashed @blue;
            text-decoration: none;
        }
    }
}

// Eyebrow Nav
@import "less/eyebrow.less";

// Header + Main Nav
@import "less/nav.less";

// Footer
@import "less/footer.less";