// ===========================
// MAIN NAV
// ===========================
.home-header {
	position: absolute;
    height: 70px;
    left: 0px;
    padding: 0 30px;
    top: 0px;
    width: 100%;
    z-index: 3;

    @media @mq-mobile {
    	padding: 12px 15px 0;
    }
}

.ps-logo {
	display: block;
	float: left;
	max-width: 210px;
	padding-top: 23px;
	width: 100%;

	@media @mq-tablet {
		float: none;
		padding: 15px 15px 0;
	}

	&.gateway {
	
		@media @mq-tablet {
			padding-left: 0px;
		}

		@media @mq-mobile {
			padding-top: 6px;
			position: relative;
		}
	}
}

.home-utility-links {
	position: absolute;
    right: 30px;
    top: 0px;

    @media @mq-mobile {
    	right: 15px;
    }
}

.nav-link {
	background-color: transparent;
	color: #333;
	display: block;
	float: left;
	font-family: Oswald, sans-serif;
	font-size: 12px;
	font-weight: 400;
	height: 70px;
	line-height: 18px;
	padding: 15px 15px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 250ms ease;
		-webkit-transition: background-color 250ms ease;

	@media @mq-tablet {
		height: 60px;
    	padding-top: 10px;
	}

	@media @mq-mobile {
		height: auto;
	    border-bottom: 1px solid fade(#000, 20%);
	    color: white;
	    float: none;
	    font-size: 1em;
	    line-height: 26px;
	    margin-right: 0px;
	    padding: 12px 15px;
	    text-align: left;
	}

	&.white {
		color: #fff;
	}

	&.blue {
		color: #24a7d1;
	}

	&.single-line {
		line-height: 70px;
		padding-top: 0px;

		@media @mq-tablet {
			line-height: 60px;
		}

		@media @mq-mobile {
			height: auto;
		    line-height: 26px;
		    padding-bottom: 12px;
		    padding-top: 12px;
		}
	}

	&.fa-icon {
		font-family: 'Font Awesome Icons', sans-serif;
	}
}

.utility-24-hr {
    color: white;
    display: block;
    float: left;
    font-family: Oswald, sans-serif;
    font-size: 12px;
    height: 70px;
    line-height: 70px;
    margin-left: 15px;
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;

    @media @mq-tablet {
    	height: 60px;
    	line-height: 60px;
    	margin-left: 5px;
    }

    .icon.utility-headset {
	    color: #24a7d1;
	    display: inline-block;
	    font-size: 22px;
	    left: 0px;
	    line-height: 22px;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    position: absolute;
	    text-align: center;
	    text-shadow: none;
	    text-transform: none;
	    top: 50%;
	    transform: translate(0px, -50%);
		    -ms-transform: translate(0px, -50%);
		    -webkit-transform: translate(0px, -50%);
    }
}